<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CaptureMyLog.Framework.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CaptureMyLog.Framework.Properties.Settings>
            <setting name="CaptureMyLog_Framework_LogDataWS_LogData" serializeAs="String">
                <value>http://logcollectorazure.cloudapp.net/logdata.asmx</value>
            </setting>
            <setting name="CaptureMyLog_Framework_LogPictureWS_LogPicture"
                serializeAs="String">
                <value>http://logcollectorazure.cloudapp.net/logpicture.asmx</value>
            </setting>
        </CaptureMyLog.Framework.Properties.Settings>
    </applicationSettings>
</configuration>